@import url('https://fonts.googleapis.com/css2?family=Lato:wght@500&family=Montserrat:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}


.App {
    width: 500px;
    margin: auto;
}

.App h2 {
    font-family: 'Montserrat';
    margin: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    color: #64C4ED;
    
}

.App .item-todo .item-delete{
    cursor: pointer;
    font-size: 22px;
}

.App .item-todo {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    color: #000000;
    text-align: left;
}

.App form{
    display: flex;
}

.App input {
border: none;
font-size: 18px;
}

.App button {
    border: none;
    font-size: 40px;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    text-transform: capitalize;
    color: #B4B4B4;
    margin-right: 10px;
}

.strike {
    text-decoration: line-through;
}